<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ /**
  ~  * Created by mutairibassam on 1/2/21 10:29 PM
  ~  * Copyright (c) 2021 . All rights reserved.
  ~  * Last modified 1/2/21 1:33 PM
  ~  */
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.datum.android.calapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>